In [47]:
import pandas as pd
df = pd.DataFrame(columns=('Number', 'String', 'Boolean'))

In [48]:
df

Empty DataFrame
Columns: [Number, String, Boolean]
Index: []

In [49]:
zip(['Number', 'String', 'Boolean'],[1,2,3])

[('Number', 1), ('String', 2), ('Boolean', 3)]

In [50]:
dict(zip(['Number', 'String', 'Boolean'],[1,2,3]))

{'Boolean': 3, 'Number': 1, 'String': 2}

In [51]:
i=pd.Series(dict(zip(['Number', 'String', 'Boolean'],[1,2,3])))
i

Boolean    3
Number     1
String     2
dtype: int64

In [52]:
i.name=1
i

Boolean    3
Number     1
String     2
Name: 1, dtype: int64

In [53]:
df=df.append(i)

In [54]:
search = pd.DataFrame.duplicated(df)

In [55]:
search

1    False
dtype: bool

In [56]:
i=pd.Series(dict(zip(['Number', 'String', 'Boolean'],[1,2,3])))
i.name=1

In [57]:
df=df.append(i)

In [58]:
df

   Number  String  Boolean
1       1       2        3
1       1       2        3

In [59]:
search = pd.DataFrame.duplicated(df)

In [60]:
search

1    False
1     True
dtype: bool

In [61]:
print search[search==True]

1    True
dtype: bool

In [62]:
df[search]

   Number  String  Boolean
1       1       2        3

In [63]:
i=pd.Series(dict(zip(['Number', 'String', 'Boolean'],[1,2,3])))
i.name=2
df=df.append(i)
search = pd.DataFrame.duplicated(df)
search

1    False
1     True
2     True
dtype: bool

In [64]:
df

   Number  String  Boolean
1       1       2        3
1       1       2        3
2       1       2        3

In [65]:
df=df.drop_duplicates()

In [66]:
df

   Number  String  Boolean
1       1       2        3

Reduntant Variables 
Possible errors
missing values
Variable Transformations